.stats-container {
    background: rgba(40, 40, 40, 0.9);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #e0e0e0;
    margin-top: 15px;
    width: 100%;
}

.pokemon-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.pokemon-name {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
    color: #e0e0e0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.pokemon-number {
    font-size: 1rem;
    color: #aaa;
    font-weight: 600;
}

.pokemon-type {
    padding: 3px 10px;
    border-radius: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.stats-grid {
    display: grid;
    gap: 10px;
}

.stat-item {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    gap: 8px;
}

.stat-item h3 {
    font-size: 0.9rem;
    color: #aaa;
    margin: 0;
}

.stat-bar-container {
    background: #1a1a1a;
    height: 15px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);
}

.stat-bar {
    height: 100%;
    border-radius: 8px;
    transition: width 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.stat-value {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    color: #e0e0e0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-size: 0.8rem;
}

/* Colores para las barras de estadísticas con gradientes */
.hp { background: linear-gradient(90deg, #ff5959 0%, #ff0000 100%); }
.attack { background: linear-gradient(90deg, #f5ac78 0%, #f08030 100%); }
.defense { background: linear-gradient(90deg, #fae078 0%, #f8d030 100%); }

/* Colores para los tipos de Pokémon */
.normal { background: #A8A77A; color: #1a1a1a; }
.fire { background: #EE8130; color: #1a1a1a ; }
.water { background: #6390F0; color: #1a1a1a; }
.electric { background: #F7D2C4; color: #1a1a1a; }
.grass { background: #7AC74C; color: #1a1a1a; }
.ice { background: #96D9D6; color: #1a1a1a; }
.fighting { background: #C22E28; color: #1a1a1a; }
.poison { background: #A33EA1; color: #1a1a1a; }
.ground { background: #E2BF65; color: #1a1a1a; }
.flying { background: #A98FF3; color: #1a1a1a; }
.psychic { background: #F95587; color: #1a1a1a; }
.bug { background: #A6B91A; color: #1a1a1a; }
.rock { background: #B6A136; color: #1a1a1a; }
.ghost { background: #735797; color: #1a1a1a; }
.steel { background: #B7B7CE; color: #1a1a1a; }
.dragon { background: #6F35FC; color: #1a1a1a; }
.dark { background: #705746; color: #1a1a1a; }
.fairy { background: #D685AD; color: #1a1a1a; }